.task-card{
  background: var(--bg-card);
  border-radius:18px;
  padding:18px;
  display:flex;
  align-items:center;
  gap:15px;
  box-shadow:0 10px 25px rgba(0,0,0,.3);
  cursor:pointer;
  transition:.2s;
  color: var(--text-primary);
  width: 90vw;
  align-self: center;
}

.task-card:hover{
  transform:scale(1.02);
}

/* icon */
.task-icon{
  width:45px;
  height:45px;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:18px;
}

/* dynamic colors */
.blue{ background:var(--accent-blue); }
.green{ background:var(--accent-green); }
.purple{ background:var(--accent-purple); }

/* text */
.task-text h3{
  font-size:17px;
}

.task-text p{
  font-size:13px;
  color:var(--text-muted);
}

/* arrow */
.arrow{
  margin-left:auto;
  opacity:.6;
}