.home {
  height: 100vh;
  margin-top: -20px;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.phone {
  background: var(--bg-primary);
  border-radius: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.3);
}

.greeting p{
  color:#9aa4b2;
  margin-bottom:25px;
}

.cards{
  display:flex;
  flex-direction:column;
  gap:15px;
}
