.topbr{
  display:flex;
  justify-content: space-between;
  align-content:center;
  padding: 0 4vh 0 4vh ;
  background: var(--bg-card);
  padding: 4vh 4vh 3vh 4vh;
  border-radius: 0 0 50px 50px;
  margin-top: -2vh;
  max-height: 80px;
}

.topbr h1{
  font-size:22px;
  font-weight:600;
}

.top-icons i{
  font-size:20px;
  margin-left:15px;
  cursor:pointer;
  opacity:.8;
}