.topbr{
  display:flex;
  justify-content: space-between;
  align-content:center;
  justify-items: center;
  padding: 0 2vh 0 2vh;
}

.topbr h1{
  font-size:22px;
  font-weight:600;
}

.top-icons i{
  font-size:20px;
  margin-left:15px;
  cursor:pointer;
  opacity:.8;
}