.homeB {
  height: 100vh;
  margin-top: -20px;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(180deg, #0f1624, #0b0f17);
}
.phon {
  background: #0b0f17;
  border-radius: 50px;
  width: 100vw;
  height: 100vh;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.greeting h1 {
  font-size: clamp(1rem, 4vh, 4rem);
  margin-bottom: 5px;
  color: var(--btn-secondary-bg);
}

.greeting p {
  color: var(--text-muted);
  margin-bottom: 2vh;
  text-align: center;
  font-style: italic;
  font-size: 2vh;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.card {
  background: #151c2c;
  border-radius: 18px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-icon {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.b {
  background: var(--accent-blue);
}
.g {
  background: var(--accent-green);
}
.p {
  background: var(--accent-purple);
}

.card-text h3 {
  font-size: 17px;
}

.card-text p {
  font-size: 13px;
  color: #9aa4b2;
}

.arrow {
  margin-left: auto;
  opacity: 0.6;
  color: var(--text-secondary);
}
