.topbar {
  display:flex;
  justify-content: space-between;
  align-content:center;
  padding: 0 4vh 0 4vh ;
  background: var(--bg-primary);
  padding: 3vh 4vh 3vh 4vh;
  border-radius: 0 0 50px 50px;
  margin-top: -2vh;
  max-height: 80px;
  color: var(--text-primary);
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.bell i {
  font-size: 20px;
  opacity: 0.8;
  font-size: 3vh;
}
